<header>
  {{ $img := (resources.Get (.Params.image)).Resize "2500x"}}
  {{ $imgthumbnail := $img.Resize "500x q25" | images.Filter (images.GaussianBlur 3) }}

<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row gap-x-8">
    <img src="{{ $imgthumbnail.RelPermalink }}" data-src="{{ $img.RelPermalink }}" class="lazyload max-w-md rounded-lg shadow-2xl" />
    <div>
      {{ with .Params.heading }}
      <h1 class="text-5xl font-bold">{{ . }}</h1>
      {{ end }}
      <p class="py-6 prose lg:prose-lg">{{ .Content }}</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
</header>