{{ $currentPage := . }}
{{ $section := .Site.GetPage $currentPage.Section }}
<nav class="navbar container mx-auto">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl px-2">tylergray.dev</a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {{ range .Site.Menus.main.ByWeight }}
        <li>
          <a href="{{ .URL }}" class="{{if $section.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
  <div class="navbar-end lg:hidden">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-5 z-[1] p-2 shadow-xl bg-base-100 rounded-box w-52 fixed right-0">
        {{ range .Site.Menus.main.ByWeight }}
          <li>
            <a href="{{ .URL }}" class="{{if $section.IsMenuCurrent "main" . }}active{{ end }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>