
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

@font-face {
  font-family: '3270';
  src: url(/fonts/3270-fonts/3270-Regular.ttf);
  font-weight: regular;
}


$base-font-family: '3270', monospace;
$alt-font-family: '3270', monospace;
$header-font-family: 'VT323', monospace;

$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;
$spacing-unit:     2rem;



$content-width:    1000px;
$content-wide:     1200px;
$phone:            400px;
$tablet:           700px;
$laptop:           1000px;
$desktop:          1400px;

$color-red:        #993333;
$color-green:      #003333;
$color-salmon:     #CC6666;
$color-orange:     #FF9933;

$color-brand:      #424242;
$color-brand-alt:  #0000FF;

$color-white:      #f3f7f7;
$color-black:      #424242;
$color-background: #222222;
$color-transparent:rgba(0,0,0,0);
$color-grey:       rgba(120,120,120,1);
$color-grey-light: lighten($color-grey, 40%);
$color-grey-dark:  darken($color-grey, 15%);

$height-mid:        1000;
$height-high:       1500;
$height-top:        2000;

@import
  "normalize",
  "base",
  "layout",
  "nav",
  "header",
  "page-header",
  "forms",
  "button",
  "dark",
  "util"
;
