body{
  height: 100%;
  min-height: 100%;
  width: 94%;
  max-width: 40em;
  margin: 0 auto;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  letter-spacing: -.01em;
  color: $color-black;
  line-height: $base-line-height;
  background: $color-white;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: “liga” on;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: normal;
  transition: background-color .3s ease-out;

}
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}
h1,h2,h3,h4,h5,h6{
  font-family: $header-font-family;
  line-height: 1.2;
  margin-bottom: $spacing-unit / 2;
  font-weight: 400;
}
h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.5rem;
}
h4{
  font-size: 2rem;
}
h5{
  font-size: 1.5rem;
}
h6{
  font-size: 1rem;
}
p,li,ol{
  font-size: .9rem;
  font-family: $alt-font-family;
  @media(min-width: $laptop) {
    font-size: 1rem;
  }
}
a{
  color: $color-black;
  font-family: $alt-font-family;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid $color-grey;
  transition: border-color 0.3s ease-out;
  &:hover{
    border-bottom: 2px solid $color-grey;
  }
}
ul,ol{
  margin-left: $spacing-unit / 1.2;
  @media(min-width: $laptop){
    margin-left: $spacing-unit / 1.4;
  }
}
hr {
  display: block;
  border: 0;
  height: 1px;
  background: $color-grey-light;
  margin-bottom: $spacing-unit 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: $spacing-unit;
  tr{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid $color-grey-light;
    th{
      text-align: left;
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      padding: $spacing-unit / 3;
    }
    td{
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      padding: $spacing-unit / 3;
      font-size: 1rem;
      font-weight: 500;
      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
img{
  max-width: 100%;
  width: 100%;
  margin-bottom: $spacing-unit / 2;
}
blockquote{
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  margin: $spacing-unit 0;
  font-family: $header-font-family;
  color: $color-black;
  padding: $spacing-unit / 2;
  border-left: .1em solid $color-grey-light;
  position: relative;
  p{
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  @media(min-width: $laptop) {
    width: 140%;
    margin: $spacing-unit * 2 0;
    margin-left: -20%;
    font-size: 2rem;
    padding: $spacing-unit;
    p{
      font-size: 2rem;
    }
  }
}
blockquote{
 p::first-letter {
  all: unset!important;
 }
}
article{
  margin: $spacing-unit 0;
  @media(min-width: $laptop) {
    margin: $spacing-unit * 2 0;
  }
}
main{
  width: 100%;
}
footer{
  width: 100%;
  padding: $spacing-unit 0;
  p{
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .02em;
    color: $color-grey;
    font-family: $alt-font-family;
    margin: 0;
  }
}