.theme-dark{
    background: $color-grey!important;
  body{
    background: $color-background!important;
  }
  p,ol,li,a,h1,h2,h3,h4,h5,h6,td,th,label{
    color: $color-white!important;
  }
  hr{
    background: $color-grey-dark!important;
  }
  tr{
    border-color: $color-grey-light!important;
  }
  img {
    opacity: .75;
    transition: opacity .5s ease-out;
  }
  img:hover {
    opacity: 1;
  }
  .lazyload{
    opacity: .75;
  }
  .meta{
    color: $color-grey-light!important;
  }
  .tag{
    background: $color-grey-dark!important;
    color: $color-white!important;
  }
  input,
  textarea,
  select {
    background: $color-background;
    color: $color-white;
  }
  .icon-link{
    background: $color-grey-dark;
  }
  .feather {
    stroke: $color-grey-light;
  }
  .button{
    background: $color-grey;
    border-color: $color-grey;
  }
  .grid-item{
    border-color: $color-grey!important;
    &:hover{
      border-color: $color-white!important;
    }
  }
  .nav-item{
    background: none!important;
  }
          

}