header{
  width: 100%;
  height: 100%;
  max-width: $content-width;
  margin: $spacing-unit / 2 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;

  h1{
    font-size: 2.5rem;
    margin-bottom: $spacing-unit / 2;
    @media(min-width: $laptop) {
      font-size: 4rem;
    }
    @media(min-width: $desktop) {
      font-size: 5rem;
    }
    &.large-title{
      font-size: 2rem;
      @media(min-width: $laptop) {
        font-size: 3rem;
      }
    }
  }
  h2{
    font-family: $base-font-family;
    font-size: 1rem;
    font-weight: 600;
    color: $color-grey;
    margin-bottom: $spacing-unit;
    @media(min-width: $laptop) {
      font-size: 1.4rem;
    }
    @media(min-width: $desktop) {
      font-size: 1.6rem;
    }
  }
  p{
    margin-bottom: 0;
    font-size: 1rem;
  }
  .meta{
    font-size: 1rem;
    font-weight: 500;
    font-family: $alt-font-family;
    color: $color-grey;
  }
}