article{
  img{
    @media(min-width: $laptop) {
      min-width: 140%;
      margin-left: -20%;
    }
  }
}
.content{
  p:first-of-type::first-letter {
    float: left;
    font-family: $header-font-family;
    font-size: 400%;
    font-weight: 700;
    line-height: 0.65;
    margin: 0;
    padding: 0.05em 0.1em 0 0;
  }
}
.post{
  margin-bottom: $spacing-unit;
  h3{
    font-size: 2rem;
    a{
      margin-bottom: 0;
      text-decoration: none;
    }
  }
  .meta{
    font-size: .8rem;
    font-weight: 700;
    font-family: $alt-font-family;
    color: $color-grey;
  }
  a{
    margin-bottom: $spacing-unit;
    display: block;
  }

}
.page-title{
  font-size: 4rem;
}