article{
  figure{
    @media(min-width: $laptop) {
      margin: $spacing-unit * 2 0;
      min-width: 100%;
      max-width: $content-width;
    }
    img{
      margin-bottom: 0;
      border-radius: 2px;
    }
    figcaption{
      color: $color-grey;
      font-family: $alt-font-family;
      font-weight: 500;
      font-size: .8rem;
    }
  }
}

.post{
  margin-bottom: $spacing-unit;
  p{
    font-size: .9rem;
    font-weight: 500;
  }
  h3{
    font-size: 2rem;
    margin-bottom: 0;
    a{
      font-family: $header-font-family;
      font-weight: 400;
      margin-bottom: 0;
      text-decoration: none;
      display: block;
      border-bottom: none;
    }
  }
  a{
    margin-bottom: $spacing-unit / 2;
    display: inline-block;
  }
  .button{
    margin-top: 0;
    margin-bottom: $spacing-unit;
  }
}
footer{
  position: relative;
  width: 94%;
  max-width: $content-width;
  margin: 0 auto;
  a{
    border-bottom: hidden;
  }
}
.page-title{
  font-size: .9rem;
  font-family: $alt-font-family;
  color: $color-grey;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  @media(min-width: $laptop) {
    font-size: 1rem;
  }
}
.page-hr{
  width: 3em;
  height: .4em;
  margin-bottom: $spacing-unit / 2;

}
.meta{
  font-size: .7rem!important;
  font-weight: 700;
  color: $color-grey;
  margin-bottom: .5em;
  @media(min-width: $laptop) {
    font-size: .8rem!important;
  }
  @media(min-width: $desktop) {
    font-size: .9rem!important;
  }
  
}
.tag{
  font-size: .8rem;
  font-weight: 700;
  color: $color-white;
  background: $color-grey-dark;
  border: unset;
  margin-bottom: $spacing-unit / 2;
  margin-right: .5em;
  padding: .2em .5em;
  text-decoration: none;
  &:hover{
    border: unset;
  }
}
.grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  flex-direction: row;
  max-width: $content-wide;
  margin: 0 auto;
  .grid-item{
    flex-basis: 100%;
    margin-bottom: $spacing-unit * 2;
    padding: $spacing-unit;
    border: 2px solid $color-grey-dark;
    flex-basis: 100%;
    transition: box-shadow .3s ease-out;
    @media(min-width: $laptop) {
      flex-basis: 47%;
      margin-bottom: $spacing-unit / 2;
    }

    &:hover{
      border: 2px solid $color-grey-dark;
      box-shadow: 6px 5px $color-black;
    }

  }
}

.about{
  display: flex;

  max-width: $content-wide;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  @media(min-width: $laptop) {
    align-items: unset;
    flex-direction: row;
    margin: 5em auto;
  }
  section{
    flex-basis: 40%;
  }
    img{
    height: 400px;
    width: 400px;
    
    @media(min-width: $laptop) {
    margin-right: 5em;
    } 
  }
}