nav{
  width: 100%;
  margin-top: $spacing-unit / 2;
  padding: .5em 0;
  display: flex;
  max-width: $content-wide;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @media(min-width: $laptop) {
    justify-content: space-between;
    flex-direction: row;
  }
  .nav-title{
    color: $color-grey-dark;
    font-size: .9rem;
    text-decoration: none;
    padding: .2em 1em;
    border: 2px solid $color-grey;
    @media(min-width: $laptop) {
      margin: 0;
    }
    img{
      max-height: 3em;
      width: auto;
      border-radius: 50%;
      margin: 0;
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    @media(min-width: $laptop) {
      justify-content: flex-end;
      width: 80%;
    }
    li{
      display: inline-flex;
      font-family: $alt-font-family;
      font-size: .9rem;
      
      @media(min-width: $laptop) {
        margin: 0;
        margin-right: $spacing-unit / 2;
      }
      a{
        color: $color-grey-dark;
        padding: .2em 1em;
        background: $color-grey-light;
        border: 2px solid $color-grey-dark;
        box-shadow: 3px 3px 1px $color-black;
        transition: all 0.3s ease-out;
        transition-property: color, border-color;
        display: flex;
        align-items: center;
        font-weight: 600;
        &:hover{
          color: $color-grey-dark;
          border: 2px solid $color-grey;
        }
        &.active{
          background: $color-grey-light;
          border: 2px solid $color-grey-dark;
          box-shadow: 3px 3px 1px $color-black;

        }
      }
    }
  }
}