nav{
  width: 94%;
  margin: 0 auto;
  padding: .5em 0;
  display: flex;
  max-width: $content-wide;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @media(min-width: $laptop) {
    justify-content: space-between;
    flex-direction: row;
  }
  .nav-title{
    color: $color-black;
    font-family: $header-font-family;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    li{
      display: inline-flex;
      margin: 0 $spacing-unit / 2;
      @media(min-width: $laptop) {
        margin: 0;
        margin-right: $spacing-unit;
      }
      a{
        color: $color-brand;
      }
    }
  }
}