nav{
  width: 94%;
  margin: 0 auto;
  margin-top: $spacing-unit / 2;
  padding: .5em 0;
  display: flex;
  max-width: $content-wide;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  @media(min-width: $laptop) {
    justify-content: space-between;
    flex-direction: row;
  }
  .nav-title{
    color: $color-black;
    font-family: $header-font-family;
    font-size: 2rem;
    margin: .2em 0;
    text-decoration: none;
    @media(min-width: $laptop) {
      margin: 0;
    }
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    li{
      display: inline-flex;
      margin: 0 $spacing-unit / 3;
      font-family: $alt-font-family;
      font-size: .9rem;
      font-weight: 600;
      @media(min-width: $laptop) {
        margin: 0;
        margin-right: $spacing-unit / 2;
      }
      a{
        color: $color-grey;
        padding: .2em .1em;
        border-bottom: 2px solid transparent;
        transition: all 0.3s ease-out;
        transition-property: color, border-color;
        display: flex;
        align-items: center;
        &:hover{
          color: $color-grey-dark;
          border-bottom: 2px solid $color-grey;
        }
        &.active{
          color: $color-black;
          border-bottom: 2px solid $color-grey-dark;
        }
      }
    }
  }
}