.page-header{
  width: 100%;
  margin: $spacing-unit / 2 0;
  h1{
    font-size: 2rem;
    margin-bottom: .2em;
    @media(min-width: $laptop) {
      font-size: 4rem;
    }
    &.large-title{
      font-size: 3rem;
      @media(min-width: $laptop) {
        font-size: 4rem;
      }
    }
  }
  h2{
    font-family: $alt-font-family;
    font-size: 1rem;
    font-weight: 400;
    color: $color-grey;
    @media(min-width: $laptop) {
      font-size: 1.6rem;
    }
  }
  p{
    margin-bottom: 0;
  }
  .meta{
    font-size: 1rem;
    font-weight: 500;
    font-family: $alt-font-family;
    color: $color-grey;
  }
}