.skip-to-content{
  display: none;
}

.container{
  width: 100%;
  max-width: $content-width;
  padding: 0 1em;
  margin: 0 auto;
}
.container-wide{
  width: 100%;
  max-width: $content-wide;
  padding: 0 1em;
  margin: 0 auto;
}

.lazyload{
  opacity: 1;
  transition: opacity 1s ease-out;

}
.lazyload:not(.loaded) {
  opacity: .7;

}

.hidden{
  visibility: hidden;
  display: none;
}
.icon-link{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
  padding: .5em;
  background: $color-grey-light;
  line-height: 0;
  border-radius: 3em;
  border-bottom: none;
  &:hover{
  border-bottom: none;
  }
}

.feather {
  width: 24px;
  height: 24px;
  stroke: $color-grey;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.icon-fallback-text{
  display: none;
}