<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}" id="root">
<script type="text/javascript">
;(function (window, document, undefined) {
  'use strict';
  if (!('localStorage' in window)) return;
  var darkMode = localStorage.getItem('darkMode');
  if (darkMode == 'true'){
    document.documentElement.className = 'theme-dark';
  }
  else if (darkMode == 'false'){
    document.documentElement.className = '';
  }
  else{
    if (window.matchMedia('(prefers-color-scheme)').media !== 'not all') {
      console.log('🎉 Dark mode is supported');
      localStorage.setItem('darkMode', true);
      document.documentElement.className = 'theme-dark';
    }
  }
})(window, document);
</script>
  <head >
    {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}
    <title>
      {{- block "title" . -}}
        {{- if .IsHome -}}
          🤓 + ☕️ {{ .Site.Title }} | SysAdmin by day, Web Developer by night, Amateur Farmer.
        {{- else -}}
        {{- with .Title -}}{{ . }} | {{ end }}{{ .Site.Title }}
        {{ end }}
      {{- end -}}
    </title>
    {{ range .AlternativeOutputFormats }}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}
    {{ block "site/styles" . }}{{ partialCached "site/styles.html" . }}{{ end }}
  </head>
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://mantaray.tylergray.dev/script.js" site="TQNLKXEG" defer></script>
  <!-- / Fathom -->
  <body>
    {{ block "site/nav" . }}{{ partial "site/nav.html" . }}{{ end }}
    <main id="page" class="site-main" role="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "site/footer" . }}{{ partialCached "site/footer.html" . }}{{ end }}
    {{ block "site/scripts" . }}{{ partialCached "site/scripts.html" . }}{{ end }}
  </body>
</html>