<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}" id="root" data-theme="light">

  <head>
    {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}
    <title>
      {{- block "title" . -}}
        {{- if .IsHome -}}
          {{ .Site.Title }} | Technology Leader & Expert
        {{- else -}}
        {{- with .Title -}}{{ . }} | {{ end }}{{ .Site.Title }}
        {{ end }}
      {{- end -}}
    </title>
    {{ range .AlternativeOutputFormats }}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}
    {{ block "site/styles" . }}{{ partialCached "site/styles.html" . }}{{ end }}
  </head>
  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="TQNLKXEG" defer></script>
  <!-- / Fathom -->
  <body>
    {{ block "site/nav" . }}{{ partial "site/nav.html" . }}{{ end }}
    <main id="page" class="container mx-auto px-4 min-h-screen" role="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ block "site/footer" . }}{{ partialCached "site/footer.html" . }}{{ end }}
    {{ block "site/scripts" . }}{{ partialCached "site/scripts.html" . }}{{ end }}
  </body>
</html>