{{ define "main" }}
  <section>
    {{ block "site/page-header" . }}{{ partial "site/page-header.html" . }}{{ end }}
    <article id="content">
      <div class="container-wide">
        {{ with .Content }}
        {{ markdownify . }}
        {{ end }}
      {{ range .Paginator.Pages }}
      <div class="post">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ if gt .Date "" }}<p class="meta">{{ with .Date }}{{ .Format "Monday, January 2, 2006" }}{{ end }} · {{ .ReadingTime }} Min Read</p>{{ end }}
        {{ with .Params.tags }}{{ range . }}<a class="tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>{{ end }}{{ end }}
        <p>{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="button">Read More...</a>
      </div>
      {{ end }}
      </div>
    </article>
  </section>
{{ end }}