{{ define "main" }}
  <section>
    <article class="about" id="content">
      {{ with .Params.image }}
        {{ $img := (resources.Get . ).Resize "1000x" }}
        {{ $imgthumbnail := $img.Resize "300x q25" | images.Filter (images.GaussianBlur 3) }}
        <section>
          <img class="lazyload" src="{{ $imgthumbnail.RelPermalink }}" data-src="{{ $img.RelPermalink }}" alt="{{ $.Params.altText }}" />
        </section>
        {{ end }}
      <section>
        <div class="container prose lg:prose-xl">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
      </section>
    </article>

  </section>
{{ end }}