{{ define "main" }}
  <section>
    <header>
      <div class="container">
        <h1>{{ .Title }}</h1>
        {{ if gt .Date "" }}<p class="meta">{{ with .Date }}{{ .Format "Monday, January 2, 2006" }}{{ end }} · {{ .ReadingTime }} Min Read</p>{{ end }}
        {{ with .Params.tags }}{{ range . }}<a class="tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>{{ end }}{{ end }}
      </div>
    </header>
    <article class="content" id="content">
      <div class="container">
        {{ .Content }}
      </div>
    </article>
  </section>
{{ end }}