{{ define "main" }}
  <section class="container mx-auto">
    {{ block "site/page-header" . }}{{ partial "site/page-header.html" . }}{{ end }}
    <article class="prose lg:prose-xl" id="content">
        {{ with .Params.image }}
        {{ $img := (resources.Get . ).Resize "1800x" }}
        {{ $imgthumbnail := $img.Resize "300x q25" | images.Filter (images.GaussianBlur 3) }}
        <figure>
          <img class="lazyload min-w-full" src="{{ $imgthumbnail.RelPermalink }}" data-src="{{ $img.RelPermalink }}" alt="{{ $.Params.altText }}" />
          <figcaption>
            {{ $.Params.altText }}
          </figcaption>
        </figure>
        {{ end }}
        {{ .Content }}
    </article>
  </section>
{{ end }}