{{ define "main" }}
{{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}
  <article id="content">
    <div class="container">
    
    {{ with .Site.GetPage "/journal" }}
    {{ with .Pages }}
    <hr class="page-hr"/>
    <h2 class="page-title">Latest Posts</h2>
      {{ range first 4 . }}
      <div class="post">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ if gt .Date "" }}<p class="meta">{{ with .Date }}{{ .Format "Monday, January 2, 2006" }}{{ end }} · {{ .ReadingTime }} Min Read</p>{{ end }}
        {{ with .Params.tags }}{{ range . }}<a class="tag" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>{{ end }}{{ end }}
        <p>{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="button border">Read More...</a>
        <hr />
      </div>
      {{ end }}
    {{ end }}
    {{ end }}
    {{ .Content }}
    </div>
  </article>
{{ end }}