{{ define "main" }}
{{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}
  <article id="content">
    <div class="container">
    <h2 class="page-title">Latest Posts</h2>
    {{ with .Site.GetPage "/journal" }}
      {{ range first 4 .Pages}}
      <div class="post">
        {{ with .Params.tags }}<a class="meta" href="{{ $.Site.BaseURL }}tags/{{ delimit . ", " | urlize | lower  }}">{{ delimit . ", " }}</a>{{ end }}
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ if gt .Date "" }}<p class="meta">{{ with .Date }}{{ .Format "Monday, January 2, 2006" }}{{ end }} · {{ .ReadingTime }} Min Read</p>{{ end }}
        <p>{{ .Summary }}</p>
        <a href="{{ .Permalink }}">Read More...</a>
        <hr />
      </div>
      {{ end }}
    {{ end }}
    {{ .Content }}
    </div>
  </article>
{{ end }}